/* CSS File for Radio Wilson's web site */
/* Created by Dimitri Drouet. All Right Reserved */
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #EBEBEB;
    border-color: #272727;
    color: #272727;
    font-family: 'Open Sans';
    height: inherit;
    overflow-x: hidden;
    width: inherit;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

/*Backgrounds and Colors*******************************************************/
.background-dark {
    background-color: #272727;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.color-white {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.color-light-grey {
    color: rgba(255, 255, 255, .5);
    border-color: #646464;
}

.color-dark-grey {
color: rgba(0, 0, 0, .5);
    border-color: #646464;
}

/*Containers*******************************************************************/
.icon-container {
    margin: 20px 0px 20px 0px;
}

.img-container { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.img-container h2 {
    position: absolute; 
    top: 5%; 
    left: 6%; 
    width: 100%;
    font-size: 18px; 
}

.img-container h1 {
    position: absolute;
    bottom: 5%; 
    left: 6%; 
    width: 100%;
    font-size: 24px;
}

.info-container {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    margin: 5px 1% 0px 1%;
    font-size: 14px;
}

.logo-container {
    padding: 5%;
    text-align: center;
}

.preview-container {
    padding: 10px 5% 10px 5%;
}

.preview {
    width: 100%;
    background-color: white;
}

.sub-info-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0px 2px 0px 2px;
}

.thumbnail-container {
    width: 100%;
    padding-top: 48%;
    background-size: cover;
}

.vcenter {
    display:inline-block;
    vertical-align: middle;
    float: none;
}

@media (min-width: 768px) {
   .preview-container{
        padding: 8px;
    }
}

@media (min-width: 992px) {
    .preview-container{
        padding: 9px;
    }
}

@media (min-width: 1200px) {
    .preview-container{
        padding: 10px;
    }
}

/*Borders and Shadows**********************************************************/
.rounded-border {
    border: 2px solid;
    border-radius: 100px;
    padding: 1px 4px 1px 4px;
}

.item-shadow {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);   
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);   
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);   
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);   
    -webkit-transition: box-shadow .3s; 
    transition: box-shadow .3s;
    -webkit-transition: transform .3s; 
    transition: transform .3s;
}

.item-shadow:hover,
.item-shadow:focus {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);   
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);   
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);   
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .75);   
    -webkit-transition: box-shadow .3s; 
    transition: box-shadow .3s;
    -webkit-transition: transform .3s; 
    transition: transform .3s;
}


/*Titles and Subtitles*********************************************************/
h1, h2, h3 {
    font-size-adjust: auto;
    font-weight: 500;
    text-decoration: none;
}

/*.preview h1 {
    font-size: 14px;
    padding: 0px 14px 14px 14px;
}*/

@media (min-width: 768px) {
    h2 {
        font-size: 22px;
    }
    
    /*.preview h1 {
        font-size: 16px;
        padding: 0px 16px 16px 16px;
    }*/
    
    .preview-container{
        padding: 8px;
    }
    
    .img-container h2 {
        font-size: 20px; 
    }

    .img-container h1 {
        font-size: 26px;
    }

    .info-container {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    /*.preview h1 {
        font-size: 18px;
        padding: 0px 18px 18px 18px;
    }*/
    
    .img-container h2 {
        font-size: 22px; 
    }

    .img-container h1 {
        font-size: 28px;
    }

    .info-container {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 26px;
    }
    
    .img-container h2 {
        font-size: 24px; 
    }

    .img-container h1 {
        font-size: 30px;
    }
}

/*Links************************************************************************/
.preview-container a {
    text-decoration: none;
    text-transform: none;
    color: #272727;
}

/*Images***********************************************************************/
.icon {
    height: 24px;
    max-width: 200px;
    width: auto;
}

.logo {
    max-height: 300px;
    width: auto;
}

.preview-logo {
    max-height: 300px;
    width: auto;
}

@media (min-width: 768px) {
    .icon {
        height: 36px;
    }
}

/*HR***************************************************************************/
hr {
    border: solid 1px;
    width: 50%;
}