/* CSS File for Radio Wilson's web site */
/* Created by Dimitri Drouet. All Right Reserved */
@font-face {
    font-family: Atami;
    src: url('fonts/Atami-Regular.otf');
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans';
    height: inherit;
    overflow-x: hidden;
    width: inherit;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

/*Backgrounds and Colors*******************************************************/
.background-dark {
    background-color: #272727;
    color: #FFFFFF;
}

.background-white {
    background-color: #FFFFFF;
    color: #272727;
}

.background-light-grey {
    background-color: #EBEBEB;
    color: #272727;
}

.color-dark-grey {
    color: rgba(0, 0, 0, .5);
}

.color-white {
    color: #FFFFFF;
}
/*Borders and Shadows**********************************************************/
.border-radius-4 {
    border-radius: 4px;
}

.border-radius-8 {
    border-radius: 4px;
}

.bottom-shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
}

.margin-20 {
    margin: 20px;
}

.material-shadow {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    display: block;
    transition: all .2s;
    -webkit-transition: all .2s; 
}

.material-shadow:hover, .material-shadow:focus {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
    transform: translateY(-3px); 
}

.material-shadow:active {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    -wbekit-box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

/*Buttons**********************************************************************/
.background-dark .btn-custom {
    background: rgba(255, 255, 255, .8);
    color: #272727;
}

.background-dark .btn-custom:hover,
.background-dark .btn-custom:focus {
    background: rgba(255, 255, 255, 1);
    color: #272727;
    text-decoration: none;
}

.btn-custom {
    background: rgba(29, 29, 29, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-radius: 100px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    -wbekit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 14px 7px 14px;
    margin: 15px 0px 30px 0px;
    text-transform: uppercase;
    transition: all .2s;
    -webkit-transition: all .2s;    
}

.btn-custom:hover, .btn-custom:focus {
    background: rgba(29, 29, 29, 1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
    -wbekit-box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
    -o-box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
    color: #FFFFFF;
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
}

/*Containers*******************************************************************/
.cover {
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.cover-inner {
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description-container {
    padding: 20px;
}

.icon-container {
    margin: 20px 0px 20px 0px;
}

.img-container { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.img-container h2 {
    position: absolute; 
    top: 5%; 
    left: 6%; 
    width: 100%;
    font-size: 18px; 
}

.img-container h1 {
    position: absolute;
    bottom: 5%; 
    left: 6%; 
    width: 100%;
    font-size: 24px;
}

.info-container {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    margin: 5px 1% 0px 1%;
    font-size: 14px;
}

.logo-container {
    padding: 5%;
    text-align: center;
}

.preview-container {
    padding: 10px 5% 10px 5%;
}

.preview {
    margin: 5px 0px;
}

.sub-info-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0px 2px 0px 2px;
}

.title {
    padding-top: 40px;
    display: inline-block;
    margin-left: auto;
    margin: auto;
    text-align: left;
}

.title h1{
    padding: 0px;
    margin: 0px;
}

.title h1 span {
    color: rgba(255, 255, 255, .6);
    text-transform: none;
}

.thumbnail-container {
    width: 100%;
    padding-top: 48%;
    background-size: cover;
}

.vcenter {
    display:inline-block;
    vertical-align: middle;
    float: none;
}

@media (min-width: 768px) {
   .preview-container{
        padding: 8px;
    }
}

@media (min-width: 992px) {
    .preview-container{
        padding: 9px;
    }
}

@media (min-width: 1200px) {
    .preview-container{
        padding: 10px;
    }
}



/*Titles and Subtitles*********************************************************/
h1, h2, h3 {
    font-family: 'Atami';  
    font-size-adjust: auto;
    font-weight: 500;
    text-decoration: none;
}

@media (min-width: 768px) {
    h2 {
        font-size: 22px;
    }
    
    .img-container h2 {
        font-size: 20px; 
    }

    .img-container h1 {
        font-size: 26px;
    }

    .info-container {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    /*.preview h1 {
        font-size: 18px;
        padding: 0px 18px 18px 18px;
    }*/
    
    .img-container h2 {
        font-size: 22px; 
    }

    .img-container h1 {
        font-size: 28px;
    }

    .info-container {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 26px;
    }
    
    .img-container h2 {
        font-size: 24px; 
    }

    .img-container h1 {
        font-size: 30px;
    }
}

/*Links************************************************************************/
.preview-container a {
    text-decoration: none;
    text-transform: none;
    color: #272727;
}

/*Images***********************************************************************/
.cover .logo {
    max-height: 150px;
    width: auto;
}


.icon {
    height: 24px;
    max-width: 200px;
    width: auto;
}

.logo {
    max-height: 250px;
    width: auto;
}

@media (min-width: 768px) {
    .icon {
        height: 36px;
    }
}

/*HR***************************************************************************/
.cover hr {
    border: solid 2px;
    width: 10%;
}

.description-container hr {
    border: solid .5px rgba(0,0,0,.05);
    width: 100%;
}

hr {
    border: solid 2px #000000;
    width: 50%;
}